{%extends 'baseblog.html'%}
{%load static %}
{% block nav %}
<title>Change Password</title>
<body class="changepswd">
<section>
    <div class="header p-4 py-0">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 text-center text-light"><h1>Change Password</h1></div>
            </div>
        </div>
    </div>
</section>

<section class="chec p-4">
    <div class="container">
        <div class="jumbotron shadow-lg p-3 mb-5 bg-light rounded p-5">
            <div class="row">
                <div class="col-md-8 offset-2" >
                    <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{context}}
                    </div>
                
                    {% if messages %}

                    {% for msg in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{msg}}</strong> 
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}

                    {% endif %}

                    <button type="submit" class="text-white form-control" style="background: rgb(2,0,36);
                    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(61,34,170,0.6867121848739496) 0%, rgba(0,212,255,1) 100%); margin-top: 20px;">Submit</button><br>
                    </form>
                </div>
            </div>
        </div>
</section>

{% endblock nav %}
