{% extends 'baseblog.html'%}
{% block nav %}
<title>Change Password</title>
<section class="check p-4">
  <div class="container">
      <div class="jumbotron shadow-lg p-3 mb-5 bg-light rounded p-5">
      <div class="row">
          <div class="col-md-8 offset-2" >
              <div class="form-group">
                <h1>Check your inbox.</h1>
                <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>

              </div>
            
              {% if messages %}

              {% for msg in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{msg}}</strong> 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
                      {% endfor %}
              {% endif %}
          </div>
      </div>
  </div>
  </div>
</section>


{% endblock nav %}