{% extends 'base.html'%}
{% load static %}
{% block content%}

<title>Event Management | About Us</title>
<body class="about-body">
  <main>
  <section class="about p-4">
    <div class="container">
      <h1>About Us</h1>
      <p>Your Program, Our Tension With Love and Attention!</p>
      <div class="row">
        <div class="col-md-5">
          <hr>
          <div class="family"><br>
            <h3>FAMILY EVENT</h3>
            <p>Be it anniversary or any other family function, we have got everything covered. Give us a call or leave your requirements with us and we will get you best-suited venue options for your event.</p>
          </div>

          <div class="charity"><br>
            <h3>CHARITY EVENT</h3>
            <p>We have our event plans all set and in motion, it’s now time for another extremely important task, it is time to start promoting the events! Promoting events helps us attract the right audience and basically get the party started! Now event promotion and marketing can be something heavy on </p>
          </div>
        
          <div class="business"><br>
          <h3>BUSINESS EVENT</h3>
          <P>In order to ensure that an event is super successful and extremely memorable, an event demands a marvellous atmosphere and the courtesy of the apt decor. One can create an immersive experience by decorating the venue or even their own home by paying attention to the details and by being </P>
        </div>

        <div class="culture"><br>
          <h3>CULTURE EVENT</h3>
          <P>Encourage employees to decorate their workstations or cubicles uniquely on a seasonal theme. Winners can be announced at the party.Depending on the number of employees playing the game, blow up 50 or more balloons and divide the team using a painter’s tape. Two minutes are given to each team to hustle as many balloons as possible to the other side. Seems simple? There is a catch. The employees are expected to do this without crossing the line.</P>
        </div>
        </div>

        <div class="col-md-7">
        <br>
          <img src="/static/about.jpg" id="aboutus-photo">
          <div class="aboutus">
            <h4>Meet With Our Team</h4>
            <p>
              We are 7 members in a team. In this year, we managed more than 500 events for several occassion in diffeent places.  We provide different kinds of services related to Events. You only have to book it, and our team will arrange everything to make your event or festival joyful and memorable. We want only your praise! 
            </p> 
          </div>
        </div>
      </div> 
    </div>
  </section>
  </main>
</body>
{% endblock content %}
