<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <script src="https://kit.fontawesome.com/a547a15dcc.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Nunito:wght@300;600&family=Roboto+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/evenstyle.css">
</head>

<body>
    <header>
      <div class="head">
        <div class="container">
          <div class="row">
            <div class="col-sm-3 py-2"><i class="far fa-envelope"></i> dipukanu96@gmail.com</div>
            <div class="col-sm-2 py-2"><i class="fas fa-phone"></i> +8801311449836</div>
            <div class="col-sm-5"></div>
            {% if user.is_authenticated %}
            <div class="nav-link-active py-2"><a href="user">Hello, {{user.first_name}}</a></div>
            <div class="nav-item">
                <a class=" text-white nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>
            </div>
    
            {% else %}
            <div class="col-sm-1"><a href="{% url 'register' %}" class="nav-link text-white " aria-current="page"> Register</a></div>
            <div class="col-sm-1"><a href="{% url 'login' %}" class="nav-link text-white" aria-current="page">Login</a></div>
            {% endif %}
          </div>
        </div>
      </div>
  </header>

  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto text-center">
        <li class="nav-item active">
          <a class=" text-white nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i><span class="sr-only"></span></a>
        </li>
        <li class=" nav-item dropdown">
          <a class=" text-white nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            EVENT
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'family' %}">FAMILY EVENT</a>
            <a class="dropdown-item" href="{% url 'culture' %}">CULTURAL EVENT</a>
            <a class="dropdown-item" href="{% url 'business' %}">BUSINESS EVENT</a>
            <a class="dropdown-item" href="{% url 'charity' %}">CHARITY EVENT</a>
          </div>
        </li>
        <li class="nav-item">
          <a class=" text-white nav-link" href="{% url 'about' %}" tabindex="-1" aria-disabled="true">ABOUT US</a>
        </li>
        <li class="  nav-item">
          <a class=" text-white nav-link" href="{% url 'bookevent' %}" tabindex="-1" aria-disabled="true">BOOK EVENT</a>
        </li>
        <li class="  nav-item">
          <a class=" text-white nav-link" href="{% url 'contactus' %}" tabindex="-1" aria-disabled="true">CONTACT US</a>
        </li>
        <li class="nav-item active">
          <a class=" text-white nav-link text-warning" href="{% url 'user_cart' %}">YOUR EVENT<span class="sr-only"></span></a>
        </li>
      </ul>
    </div>
  </nav>
  {% block content %}

  {% endblock content %}
  <footer>
  <div class="container" align="center">
    <div class="row">
      <div class="col-md-6">
        <h5>Developed by: Dipu Kanu</h5>
        <h6>Contact</h6>
        <a href="https://www.facebook.com/dk.dipu.10"><i class="fab fa-facebook-square fa-3x" id="font-id"></i></a>
        <a href="https://www.instagram.com/dipukanu96/"><i class="fab fa-instagram-square fa-3x" id="font-id"></i></a>
        <a href="https://www.linkedin.com/in/dipu-kanu-8a1883195/"><i class="fa-brands fa-linkedin" id="font-id"></i> </a>
        <a href="https://twitter.com/kanu_dipu"><i class="fa-brands fa-square-twitter" id="font-id"></i></a>
      </div>
      <div class="col-sm-6">
        <h6>Address</h6>
        <p>Moulvibazar, Sylhet<br>Bangladesh<br>PIN code-3235</p>
      </div>
    </div>
  </div>
  </footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>
</html>