{% extends 'base.html' %}
{% block content %}

<title>Event Management | Change Password</title>

<body>
<header>
    <div class="heading-cp p-4 py-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center text-dark"><h1>Change Password</h1></div>
            </div>
        </div>
    </div>
</header>

<main>
<section class="change-pass-body p-4">
    <div class="container">
        <div class="jumbotron shadow-lg p-3 mb-5 bg-light rounded p-5">
            <div class="row">
                <div class="col-md-8 offset-2" >
                <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{context}}
                </div>
                
                {% if messages %}
                {% for msg in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{msg}}</strong> 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                </div>
                {% endfor %}
                {% endif %}

                <button type="submit" class="text-white form-control" id="register-button">Submit</button><br>
                </form>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
</body>
{% endblock content %}
