{% extends 'base.html'%}

{% block content%}

<title>Event Management | User Cart</title>

<body id="cart-body">
  {% if messages %}
    {% for msg in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{msg}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% endif %}
  <header>
    <div class="cotainer">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-light text-center p-4 mb-4">
              <h1>Your Events</h1>
            </div>
        </div>
    </div>
  </header>
  <main>
  <section class="cart-section">
    <div class="container-fluid">
      <div class="row">
          {% if my_cart %}
          {% for cart in my_cart %}  
          <div class="col-md-10 col-sm-10 col-xs-10 p-4 offset-1">
            <div class="card">
              <h5 class="card-header">{{cart.name}}</h5>
            <div class="card-body">
              <h5 class="card-title">You Booked Event For {{cart.people}} People.</h5>
              <p class="card-text">on - {{cart.date}} on <span class="text-success">{{cart.address}}</span> </p>
              <p>{{cart.food}}</p>
            </div>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-10 col-sm-10 col-xs-10 p-2 mt-1 offset-1">
                <div class="card">
                  <div class="card-body cart">
                    <div class="col-sm-12 empty-cart-cls text-center">
                      <img src="/static/cart.webp" width="130" height="130" class="img-fluid mb-4 mr-3">
                      <h3><strong>Your Cart is Empty</strong></h3>
                      <h4>Add something to make us happy :)</h4>
                      <a href="bookevent" class="btn btn-primary cart-btn-transform m-3" data-abc="true">Add an event</a>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
          {% endif %}
      </div>
    </div>
  </section>
  </main>
</body>
{% endblock content%}
